label {
    font-weight: 700;
    width: 100px;
}

form {
    max-width: fit-content;
    background-color: #4844447a;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button {
    width: fit-content;
}

input {
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    flex-grow: 1;
    min-width: 200px;
}

.form-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
}